THE_ODDS_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://tapotyftgyacbnjmeovn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SCAN_EDGE_MIN=0.025
